<a href="https://colab.research.google.com/github/dushyantsinghraghav/Visualisation-of-space-missions/blob/main/Using%20Tensorflow%20for%20%20abalone%20dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing the tensorflow library
import tensorflow as tf
from tensorflow.keras import layers
import numpy as np
import pandas as pd

In [2]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()
abalone_train.describe().transpose()

                 count      mean       std  ...      50%        75%      max
Length          3320.0  0.522693  0.121164  ...  0.54000   0.615000   0.8150
Diameter        3320.0  0.406575  0.100120  ...  0.42500   0.480000   0.6500
Height          3320.0  0.139271  0.042708  ...  0.14000   0.165000   1.1300
Whole weight    3320.0  0.824734  0.491182  ...  0.79525   1.150000   2.8255
Shucked weight  3320.0  0.357705  0.222223  ...  0.33550   0.504500   1.4880
Viscera weight  3320.0  0.180162  0.110182  ...  0.17075   0.253125   0.7600
Shell weight    3320.0  0.237921  0.140261  ...  0.23000   0.325000   1.0050
Age             3320.0  9.896988  3.205654  ...  9.00000  11.000000  27.0000

[8 rows x 8 columns]

In [3]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

In [5]:
abalone_features = np.array(abalone_features)
abalone_labels=np.array(abalone_labels)
print(abalone_features)

[[0.435  0.335  0.11   ... 0.1355 0.0775 0.0965]
 [0.585  0.45   0.125  ... 0.3545 0.2075 0.225 ]
 [0.655  0.51   0.16   ... 0.396  0.2825 0.37  ]
 ...
 [0.53   0.42   0.13   ... 0.3745 0.167  0.249 ]
 [0.395  0.315  0.105  ... 0.1185 0.091  0.1195]
 [0.45   0.355  0.12   ... 0.1145 0.0665 0.16  ]]

In [6]:
abalone_model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(1)
])

abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                      optimizer = tf.optimizers.Adam())

In [7]:
abalone_model.fit(abalone_features,abalone_labels,epochs=10)

Epoch 1/10
104/104 [==============================] - 2s 3ms/step - loss: 69.8591
Epoch 2/10
104/104 [==============================] - 0s 3ms/step - loss: 13.2554
Epoch 3/10
104/104 [==============================] - 0s 3ms/step - loss: 8.7469
Epoch 4/10
104/104 [==============================] - 0s 3ms/step - loss: 8.2544
Epoch 5/10
104/104 [==============================] - 0s 3ms/step - loss: 7.8099
Epoch 6/10
104/104 [==============================] - 1s 5ms/step - loss: 7.4320
Epoch 7/10
104/104 [==============================] - 1s 6ms/step - loss: 7.1345
Epoch 8/10
104/104 [==============================] - 1s 6ms/step - loss: 6.8968
Epoch 9/10
104/104 [==============================] - 1s 5ms/step - loss: 6.7438
Epoch 10/10
104/104 [==============================] - 0s 3ms/step - loss: 6.6116

In [8]:
## Basic preprocessing
normalize=layers.Normalization()
normalize.adapt(abalone_features)

In [10]:
#Now we use the normalization layers in our model
norm_abalone_model=tf.keras.Sequential(
    [normalize,
     layers.Dense(64),
     layers.Dense(1)]
)
norm_abalone_model.compile(loss=tf.losses.MeanSquaredError(),
                           optimizer=tf.optimizers.Adam())
norm_abalone_model.fit(abalone_features,abalone_labels,epochs=10)

Epoch 1/10
104/104 [==============================] - 1s 6ms/step - loss: 92.1239
Epoch 2/10
104/104 [==============================] - 1s 6ms/step - loss: 52.4778
Epoch 3/10
104/104 [==============================] - 1s 5ms/step - loss: 15.8361
Epoch 4/10
104/104 [==============================] - 1s 6ms/step - loss: 5.7263
Epoch 5/10
104/104 [==============================] - 1s 7ms/step - loss: 5.0372
Epoch 6/10
104/104 [==============================] - 1s 6ms/step - loss: 4.9900
Epoch 7/10
104/104 [==============================] - 1s 6ms/step - loss: 4.9809
Epoch 8/10
104/104 [==============================] - 1s 6ms/step - loss: 4.9334
Epoch 9/10
104/104 [==============================] - 1s 6ms/step - loss: 4.9677
Epoch 10/10
104/104 [==============================] - 1s 6ms/step - loss: 4.9348

In [16]:
#Now we print the model.history after normalization
print(norm_abalone_model.history)

<keras.callbacks.History object at 0x7f10ceeb7fd0>